.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1835-4
{
	font-family: pt-serif-n4, serif;
}

#u1914.MuseMenuActive #u1915-4 p,#u1930-4
{
	font-family: pt-serif-n4, serif;
}

#u1943-4
{
	font-family: pt-serif-n4, serif;
}

#u1935-4
{
	font-family: pt-serif-n4, serif;
}

#u1915-4
{
	font-family: pt-serif-n4, serif;
}

#u1924-4
{
	font-family: pt-serif-n4, serif;
}

#u1950-4
{
	font-family: pt-serif-n4, serif;
}

#u1957-4
{
	font-family: pt-serif-n4, serif;
}

#u1960-4,#u2065-4,#u2066-4,#u1906-4,#u1907-4,#u1962-5,#u1963-4,#u1965-5,#u1966-4,#u1968-5,#u1969-4,#u1970-5,#u1971-4,#u1973-5,#u2312-4
{
	font-family: pt-serif-n4, serif;
}

