.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1835-4
{
	font-family: pt-serif-n4, serif;
}

#u386.MuseMenuActive #u388-4 p,#u340-4
{
	font-family: pt-serif-n4, serif;
}

#u388-4
{
	font-family: pt-serif-n4, serif;
}

#u462-4
{
	font-family: pt-serif-n4, serif;
}

#u1857-4
{
	font-family: pt-serif-n4, serif;
}

#u644-4
{
	font-family: pt-serif-n4, serif;
}

#u543-4
{
	font-family: pt-serif-n4, serif;
}

#u756-4
{
	font-family: pt-serif-n4, serif;
}

#u967-4,#u2367-4,#u2372-4,#u2370-4,#u2373-4,#u971-4,#u2375-4,#u2813-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2808-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2805.frm-subm-ok-st #u2815-4 p,#u2819-4
{
	font-family: pt-sans-n4, sans-serif;
}

#widgetu2810_input,#widgetu2810_prompt,#widgetu2806_input,#widgetu2806_prompt,#widgetu2816_input,#widgetu2816_prompt
{
	font-family: pt-sans, sans-serif;
}

#u1841-4,#u2093-4,#u2094-4,#u966-4,#u969-4,#u2823-4,#u2302-4
{
	font-family: pt-serif-n4, serif;
}

