.Headline
{
	font-family: open-sans-n6, sans-serif;
}

#u1835-4
{
	font-family: pt-serif-n4, serif;
}

#u379.MuseMenuActive #u382-4 p,#u1864.MuseMenuActive #u1865-4 p,#u535.MuseMenuActive #u537-4 p,#u452.MuseMenuActive #u455-4 p,#u113.MuseMenuActive #u115-4 p,#u749.MuseMenuActive #u751-4 p,#u636.MuseMenuActive #u638-4 p,#u100-4,#u103-6,#u115-4
{
	font-family: pt-serif-n4, serif;
}

#u382-4
{
	font-family: pt-serif-n4, serif;
}

#u455-4
{
	font-family: pt-serif-n4, serif;
}

#u1865-4
{
	font-family: pt-serif-n4, serif;
}

#u638-4
{
	font-family: pt-serif-n4, serif;
}

#u537-4
{
	font-family: pt-serif-n4, serif;
}

#u751-4
{
	font-family: pt-serif-n4, serif;
}

#u1839-4,#u957-6,#u946-4
{
	font-family: pt-serif-n4, serif;
}

#u947-4
{
	font-family: pt-serif-n4, serif;
}

#u951-4
{
	font-family: pt-serif-n4, serif;
}

#u952-4,#u949-4,#u955-4
{
	font-family: pt-sans-n4, sans-serif;
}

#u2298-4
{
	font-family: pt-serif-n4, serif;
}

