.version.index /* version checker */
{
	color: #0000EF;
	background-color: #970DB4;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pslideshowu854
{
	width: 0.01px;
	padding-bottom: 681px;
	margin-left: -100px;
}

#slideshowu854
{
	z-index: 9;
	width: 0.01px;
	height: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: -701px;
	left: 255px;
}

#u864
{
	width: 1160px;
	height: 800px;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -50%;
}

#u864popup
{
	z-index: 10;
}

#u919
{
	z-index: 11;
	width: 1160px;
	height: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u865
{
	z-index: 13;
	width: 1160px;
	height: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u910
{
	z-index: 15;
	width: 1160px;
	height: 800px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2210
{
	z-index: 17;
	height: 800px;
	background-color: #A9A3A0;
	background-color: rgba(83,71,65,0.5);
	position: fixed;
	top: 0px;
	-pie-background: rgba(83,71,65,0.5);
}

#u2210-bw
{
	z-index: 17;
}

#u2802
{
	z-index: 81;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	top: -623px;
	margin-bottom: -25px;
	position: relative;
}

#u100-4
{
	z-index: 60;
	width: 920px;
	min-height: 73px;
	background-color: transparent;
	line-height: 72px;
	color: #FFFFFF;
	font-size: 60px;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 220px;
	left: 20px;
}

#u103-6
{
	z-index: 64;
	width: 920px;
	min-height: 58px;
	background-color: transparent;
	line-height: 29px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 293px;
	left: 20px;
}

#u2281
{
	z-index: 72;
	height: 97px;
	width: 100px;
	vertical-align: top;
	margin-left: 430px;
	top: -223px;
	margin-bottom: -97px;
	position: relative;
	background: url("../images/u2281.png") no-repeat 0px 0px;
}

#u2281:hover
{
	background: url("../images/u2281-r.png") no-repeat 0px 0px;
}

#u268
{
	z-index: 82;
	height: 56px;
	-pie-box-shadow: 6px 6px 8px #BFBFBF;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u268-bw
{
	z-index: 82;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 643px;
}

#quote
{
	left: -68px;
	position: relative;
}

#u104
{
	z-index: 83;
	width: 59px;
	height: 50px;
	position: fixed;
	top: 647px;
	left: 1px;
	background: transparent url("../images/cbmunlogo.png") no-repeat center center;
	background-size: cover;
}

#menuu111
{
	z-index: 84;
	width: 525px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 655px;
	left: 436px;
}

#u112
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u113
{
	width: 73px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u113.MuseMenuActive
{
	background-color: transparent;
	width: 73px;
	min-height: 0px;
	margin: 0px;
}

#u115-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u113:hover #u115-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u113:hover #u115-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u378
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u382-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u113.MuseMenuActive #u115-4,#u379:hover #u382-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u379:hover #u382-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u449
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u455-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u379.MuseMenuActive #u382-4,#u452:hover #u455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u452:hover #u455-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u1861
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1865-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u452.MuseMenuActive #u455-4,#u1864:hover #u1865-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u1864:hover #u1865-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u633
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u379,#u452,#u1864,#u636
{
	width: 73px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u638-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1864.MuseMenuActive #u1865-4,#u636:hover #u638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u636.MuseMenuActive #u638-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u636:hover #u638-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u534
{
	width: 74px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u537-4
{
	width: 74px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u535:hover #u537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u535:hover #u537-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u746
{
	width: 74px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u535,#u749
{
	width: 74px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u751-4
{
	width: 74px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #29ABE2;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u535.MuseMenuActive #u537-4,#u749:hover #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u749.MuseMenuActive #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u749:hover #u751-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u113.MuseMenuActive #u115-4 p,#u379.MuseMenuActive #u382-4 p,#u452.MuseMenuActive #u455-4 p,#u1864.MuseMenuActive #u1865-4 p,#u636.MuseMenuActive #u638-4 p,#u535.MuseMenuActive #u537-4 p,#u749.MuseMenuActive #u751-4 p
{
	color: #0071BC;
	visibility: inherit;
	font-family: pt-serif, serif;
	font-weight: 400;
	font-style: normal;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u1839-4
{
	z-index: 127;
	width: 260px;
	min-height: 12px;
	background-color: transparent;
	color: #1B1464;
	text-transform: uppercase;
	line-height: 12px;
	font-size: 10px;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 679px;
	left: 64px;
}

#pu989
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 38px;
}

#u989
{
	z-index: 18;
	height: 699px;
	background: transparent url("../images/capmun%20yes%20blurred.jpg") no-repeat center center;
	background-size: cover;
}

#u989-bw
{
	z-index: 18;
	height: 699px;
}

#u2211
{
	z-index: 42;
	min-height: 408px;
	background-color: #A9A3A0;
	background-color: rgba(83,71,65,0.5);
	padding-bottom: 291px;
	-pie-background: rgba(83,71,65,0.5);
}

#u957-6
{
	z-index: 43;
	width: 920px;
	min-height: 153px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 120px;
}

#u957-2
{
	font-size: 48px;
	text-align: center;
	line-height: 58px;
	font-style: italic;
}

#u957-4
{
	font-size: 24px;
	text-align: right;
	line-height: 29px;
}

.js #u957-6.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u2211-bw
{
	z-index: 42;
	min-height: 408px;
}

#u990
{
	z-index: 20;
	min-height: 18px;
	background-color: #FFFFFF;
	padding-bottom: 681px;
}

#top,#intro
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 30px;
}

#u990-bw
{
	z-index: 20;
	min-height: 18px;
}

#pu928
{
	width: 0.01px;
	padding-bottom: 371px;
	margin-left: 20px;
	margin-top: -527px;
}

#u928
{
	z-index: 21;
	width: 917px;
	height: 148px;
	border-width: 3px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	position: fixed;
	top: 1569px;
	left: 19px;
}

#u930
{
	z-index: 22;
	width: 917px;
	height: 148px;
	border-width: 3px;
	border-style: solid;
	border-color: #C7B299;
	background-color: transparent;
	position: fixed;
	top: 1789px;
	left: 19px;
}

#u938
{
	z-index: 24;
	width: 125px;
	height: 107px;
	position: fixed;
	top: 1592px;
	left: 34px;
	background: transparent url("../images/un.png") no-repeat center center;
	background-size: cover;
}

#u952-4
{
	z-index: 37;
	width: 713px;
	min-height: 61px;
	background-color: transparent;
	color: #7F7F7F;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 1858px;
	left: 58px;
}

#u946-4
{
	z-index: 25;
	width: 328px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	color: #1B1464;
	font-size: 24px;
	text-align: left;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 1592px;
	left: 192px;
}

#u946-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 328px;
	margin: 0px;
}

#u949-4
{
	z-index: 33;
	width: 713px;
	min-height: 61px;
	background-color: transparent;
	color: #7F7F7F;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 1633px;
	left: 192px;
}

#u947-4
{
	z-index: 29;
	width: 340px;
	min-height: 41px;
	background-color: transparent;
	line-height: 29px;
	color: #1B1464;
	font-size: 24px;
	text-align: right;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: fixed;
	top: 1817px;
	left: 431px;
}

#u947-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 340px;
	margin: 0px;
}

#u946-4:hover p,#u947-4:hover p
{
	color: #2E3192;
	visibility: inherit;
}

#u931
{
	z-index: 23;
	width: 124px;
	height: 124px;
	position: fixed;
	top: 1803px;
	left: 801px;
	background: transparent url("../images/billcircleface.jpg") no-repeat center center;
	background-size: cover;
}

#pu991
{
	width: 0.01px;
	margin-left: -100px;
}

#u991
{
	z-index: 19;
	height: 699px;
	background: transparent url("../images/capmun%20sideback%20blurred.jpg") no-repeat left center;
	background-size: cover;
}

#u991-bw
{
	z-index: 19;
	height: 699px;
}

#u2212
{
	z-index: 49;
	min-height: 18px;
	background-color: #A9A3A0;
	background-color: rgba(83,71,65,0.5);
	padding-bottom: 681px;
	-pie-background: rgba(83,71,65,0.5);
}

#who
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: 25px;
}

#u2212-bw
{
	z-index: 49;
	min-height: 18px;
}

#pu951-4
{
	width: 0.01px;
	padding-bottom: 190px;
	margin-left: 56px;
	margin-top: -445px;
}

#u951-4
{
	z-index: 50;
	width: 848px;
	min-height: 38px;
	background-color: #998675;
	line-height: 36px;
	color: #000000;
	font-size: 30px;
	text-align: right;
	font-family: pt-serif, serif;
	font-weight: 700;
	position: fixed;
	top: 2351px;
	left: 56px;
}

#u951-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 848px;
	margin: 0px;
}

#u951-4:hover p
{
	color: #2D2319;
	visibility: inherit;
}

#u955-4
{
	z-index: 54;
	width: 847px;
	min-height: 133px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	text-align: right;
	font-family: pt-sans, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 2408px;
	left: 56px;
}

#pu1833
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1833
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 21px;
}

#u1833_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1835-4
{
	z-index: 3;
	width: 259px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 450px;
}

#u1833-bw
{
	z-index: 2;
	min-height: 97px;
	margin-top: 1px;
}

#u2292
{
	z-index: 7;
	width: 87px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 536px;
}

#u2292:hover
{
	width: 87px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u2289
{
	z-index: 74;
	min-height: 99px;
	background-color: #544E8A;
	background-color: rgba(27,20,100,0.75);
	padding-bottom: 20px;
	-pie-background: rgba(27,20,100,0.75);
}

#u2211_align_to_page,#u990_align_to_page,#u2212_align_to_page,#u2289_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u2298-4
{
	z-index: 75;
	width: 259px;
	min-height: 22px;
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-family: pt-serif, serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 450px;
}

#u2289-bw
{
	z-index: 74;
	min-height: 99px;
}

#u2299
{
	z-index: 79;
	width: 87px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 536px;
}

#u2299:hover
{
	background-color: transparent;
	width: 87px;
	min-height: 0px;
	margin: 19px -10000px 0px 0px;
}

#u2299_img:hover
{
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

