.version.news /* version checker */
{
	color: #00001D;
	background-color: #F4432F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 959.6999999999998px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #E1DCD7;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: -56px;
	width: 0.01px;
}

#pu477
{
	width: 0.01px;
	padding-bottom: 56px;
	margin-left: -100px;
}

#u477
{
	z-index: 87;
	height: 56px;
	-pie-box-shadow: 6px 6px 8px #BFBFBF;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.25);
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
}

#u477-bw
{
	z-index: 87;
}

#u530
{
	z-index: 88;
	width: 59px;
	height: 50px;
	position: fixed;
	top: 4px;
	left: 50%;
	margin-left: -480px;
	background: transparent url("../images/cbmunlogo.png") no-repeat center center;
	background-size: cover;
}

#u1844-4
{
	z-index: 132;
	width: 260px;
	min-height: 12px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 12px;
	font-size: 10px;
	color: #1B1464;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: fixed;
	top: 36px;
	left: 50%;
	margin-left: -417px;
}

#menuu479
{
	z-index: 89;
	width: 525px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -45px;
}

#u522
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u527-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u525:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u525:hover #u527-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u494
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u500-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u525.MuseMenuActive #u527-4,#u497:hover #u500-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u497:hover #u500-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u515
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u520-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u497.MuseMenuActive #u500-4,#u518:hover #u520-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u518:hover #u520-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u1882
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u1887-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u518.MuseMenuActive #u520-4,#u1885:hover #u1887-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u1885:hover #u1887-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u654
{
	width: 73px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 300px;
}

#u525,#u497,#u518,#u1885,#u657
{
	width: 73px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u660-4
{
	width: 73px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u1885.MuseMenuActive #u1887-4,#u657:hover #u660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u657.MuseMenuActive #u660-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 73px;
	margin: 0px -10000px 0px 0px;
}

#u657:hover #u660-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u555
{
	width: 74px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 375px;
}

#u556
{
	width: 74px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u556.MuseMenuActive
{
	background-color: transparent;
	width: 74px;
	min-height: 0px;
	margin: 0px;
}

#u557-4
{
	width: 74px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	left: 0px;
}

#u556:hover #u557-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u556:hover #u557-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u767
{
	width: 74px;
	min-height: 34px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 451px;
}

#u770
{
	width: 74px;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
}

#u771-4
{
	width: 74px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #29ABE2;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u556.MuseMenuActive #u557-4,#u770:hover #u771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u770.MuseMenuActive #u771-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 74px;
	margin: 0px -10000px 0px 0px;
}

#u770:hover #u771-4 p
{
	color: #0071BC;
	visibility: inherit;
}

#u525.MuseMenuActive #u527-4 p,#u497.MuseMenuActive #u500-4 p,#u518.MuseMenuActive #u520-4 p,#u1885.MuseMenuActive #u1887-4 p,#u657.MuseMenuActive #u660-4 p,#u556.MuseMenuActive #u557-4 p,#u770.MuseMenuActive #u771-4 p
{
	color: #2E3192;
	visibility: inherit;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u529-4
{
	z-index: 9;
	width: 920px;
	min-height: 73px;
	background-color: #534741;
	line-height: 72px;
	color: #FFFFFF;
	font-size: 60px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 20px;
	position: relative;
}

#ppu1713-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 22px;
}

#pu1713-4
{
	width: 0.01px;
	margin-right: -10000px;
}

#u1713-4
{
	z-index: 13;
	width: 300px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	color: #736357;
	font-size: 36px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
}

#u1714
{
	z-index: 17;
	width: 300px;
	height: 5px;
	background-color: #534741;
	position: relative;
}

#u1726-5
{
	z-index: 69;
	width: 300px;
	min-height: 45px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 16px;
	position: relative;
}

#u1727-5
{
	z-index: 74;
	width: 300px;
	min-height: 69px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 15px;
	position: relative;
}

#u2758-5
{
	z-index: 82;
	width: 300px;
	min-height: 73px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-top: 15px;
	position: relative;
}

#u1738
{
	z-index: 81;
	width: 1px;
	height: 412px;
	background-color: #C7B299;
	position: relative;
	margin-right: -10000px;
	left: 308px;
}

#u1735
{
	z-index: 79;
	width: 600px;
	min-height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 320px;
}

#u1737
{
	z-index: 80;
	width: 920px;
	height: 1px;
	background-color: #C7B299;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
}

#u1715-4
{
	z-index: 18;
	width: 920px;
	min-height: 49px;
	background-color: transparent;
	line-height: 43px;
	color: #736357;
	font-size: 36px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 16px;
	position: relative;
}

#u1716
{
	z-index: 22;
	width: 920px;
	height: 5px;
	background-color: #534741;
	margin-left: 20px;
	position: relative;
}

#u1717-4
{
	z-index: 23;
	width: 920px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #534741;
	font-size: 24px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#u1719-18
{
	z-index: 31;
	width: 920px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	position: relative;
}

#u1718-4
{
	z-index: 27;
	width: 689px;
	min-height: 33px;
	background-color: transparent;
	line-height: 29px;
	color: #534741;
	font-size: 24px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	position: relative;
}

#u1722-6
{
	z-index: 49;
	width: 920px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	margin-left: 20px;
	position: relative;
}

#u1722
{
	font-size: 1px;
	line-height: 0px;
}

#u1723-13
{
	z-index: 55;
	width: 920px;
	min-height: 33px;
	background-color: transparent;
	line-height: 22px;
	color: #534741;
	font-size: 18px;
	text-align: left;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
}

#pu1833
{
	width: 0.01px;
	margin-left: -100px;
}

#u1833
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 21px;
}

#u1833_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u1835-4
{
	z-index: 3;
	width: 259px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 75px;
	left: 450px;
}

#u1833-bw
{
	z-index: 2;
	min-height: 97px;
}

#u2292
{
	z-index: 7;
	width: 87px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 536px;
}

#u2292:hover
{
	width: 87px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
	padding-bottom: 56px;
}

#page .verticalspacer
{
	clear: both;
}

